<% layout("/layout/every.ejs") %>

    <body>
        <style>
            body {
                padding-top: 30px;
                font-family: 'Montserrat', sans-serif;
                line-height: 1.6;
                color: #333;
                user-select: none;
                font-weight: bold;
            }

            .form-control {
                margin-bottom: 10px;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
            }

            .floating-box {
                display: inline-block;
                width: 150px;
                height: 75px;
                margin: 10px;
                border: 3px solid #73AD21;
            }

            label {
                /*padding: 10 !important;*/
                text-align: left !important;
                margin-top: -5px;
                font-family: 'Montserrat', sans-serif;
            }

            hr {
                border-top: 1px solid #025198 !important;
                border-style: dashed !important;
                border-width: 1.2px;
            }

            .panel-heading {
                font-size: 1.3em;
                font-family: 'Montserrat', sans-serif !important;
                letter-spacing: 0.5px;
            }

            .panel-info .panel-heading {
                font-size: 1.1em;
                font-family: 'Montserrat', sans-serif !important;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .panel-danger .panel-heading {
                font-size: 1.1em;
                font-family: 'Montserrat', sans-serif !important;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .btn-primary {
                padding: 9px;
                font-family: 'Montserrat', sans-serif;
                background-color: #73AD21;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                font-weight: bold;
            }

            .btn-primary:hover {
                background-color: #5d8f1b;
            }

            .Acae_data {
                font-size: 1.1em;
                font-weight: bold;
                color: #414002;
                font-family: 'Montserrat', sans-serif;
            }

            .upload_crerti {
                font-size: 1.1em;
                font-weight: bold;
                color: red;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
            }

            .update_crerti {
                font-size: 1.1em;
                font-weight: bold;
                color: green;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
            }

            p {
                padding-top: 10px;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
            }

            .iit-logo {
                max-width: 20vw;
                height: auto;
                margin: 0 auto;
                display: block;
            }

            .container1 {
                width: 94%;
                border-radius: 10px;
                margin-top: 20px;
                padding: 20px;
                box-shadow: 0px 1px 30px 1px #284d7a;
                background-color: #f7ffff;
                margin-inline: auto;
                display: flex;
                /* Use flexbox to align items horizontally */
                justify-content: center;
                /* Center items horizontally */
                align-items: center;
                /* Center items vertically */
            }

            .form {
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-family: 'Montserrat', sans-serif;
            }

            .form input {
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
                font-family: 'Montserrat', sans-serif;
            }

            .form button {
                padding: 10px;
                border-radius: 5px;
                border: none;
                background-color: #284d7a;
                color: white;
                cursor: pointer;
                font-family: 'Montserrat', sans-serif;
            }

            .form button:hover {
                background-color: #1a2d4a;
            }
        </style>

        <div class="container1">
            <div class="col-md-10 col-md-offset-1">
                <div class="row"
                    style="border-width: 2px; border-style: solid; border-radius: 10px; box-shadow: 0px 1px 30px 1px #284d7a; background-color: #f7ffff;">
                    <div class="col-md-6">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/52/Indian_Institute_of_Technology%2C_Patna.svg/1200px-Indian_Institute_of_Technology%2C_Patna.svg.png"
                            class="iit-logo" alt="IIT Patna Logo" />
                    </div>
                    <div class="col-md-6" style="border-radius: 0px 10px 10px 0px; height: 403px;">
                        <br />
                        <div class="col-md-10 col-md-offset-1">
                            <h3 style="text-align: center; color: red;"><strong>FORGOT PASSWORD</strong></h3><br />
                            <form method="POST" action="/reset-password/<%= token %>" class="form" role="form">
                                <label for="password">New Password:</label>
                                <input type="password" name="password" id="password" required>
                                <label for="confirm_password">Confirm New Password:</label>
                                <input type="password" name="confirm_password" id="confirm_password" required>
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div id="footer"></div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>